@import "tailwindcss";


@theme {
  /*  colors  */
  --color-black: #111111;
  --color-place-black: #222222;
  --color-white: #FFFFFF;
  --color-gray: #BBBBBB;
  --color-light-gray: #CCCCCC;
  --color-accent: #E16619;


  /*  fonts  */
  --font-space-mono: var(--font-space-mono);
  --font-kanit: var(--font-kanit);
  --font-blinker: var(--font-blinker);


  /*  custom accent shadow  */
  --shadow-accent: 4px 4px 3px rgba(225, 102, 25, .75);


  /*  breakpoints  */
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2lg: 72rem;
}



/*  scrollbar - for scrollable gallery  */

@supports (scrollbar-width: thin) {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #eee #444;
  }
}



/*  hero bg opacity mask  */

.hero-bg {
  mask-image: linear-gradient(to right, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  mask-size: 100% 100%;
  
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
  -webkit-mask-size: 100% 100%;
}



/*  remove bg opacity mask on mobile - 100vw hero  */

@media only screen and (max-width: 1023px) {
  .hero-bg {
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);

    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 100%, rgba(0,0,0,0) 100%);
  }
}