@import "tailwindcss";


@theme {
  /*  colors  */
  --color-black: #111111;
  --color-place-black: #222222;
  --color-white: #FFFFFF;
  --color-gray: #BBBBBB;
  --color-light-gray: #CCCCCC;
  --color-accent: #E16619;


  /*  fonts  */
  --font-space-mono: var(--font-space-mono);
  --font-kanit: var(--font-kanit);
  --font-blinker: var(--font-blinker);


  /*  hero bg image (probably temp)  */
  --background-image-hero: url("/hero-placeholder.jpg");


  /*  custom accent shadow  */
  --shadow-accent: 4px 4px 3px rgba(225, 102, 25, .75);


  /*  breakpoints  */
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2lg: 72rem;
}